# Ignorar datos de database local desarrollo
db_data/

# Ignorar node_modules
node_modules/

# Ignorar logs y archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Ignorar carpetas de coverage y dist
coverage/
dist/

# Ignorar archivos de entorno
.env
.env.local
.env.production

# Ignorar IDE y OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# pnpm data
.pnpm-store